.sidebar {
    height: calc(100vh - var(--navbar-height));
    background:var(--bg-dark-color);
    width: var(--sidebar-width);
    position: relative;
}

.collapsed {
    width: var(--sidebar-width-collapsed)
}