.app.light {
  --bg-color: #e8e8e8;
  --bg-dark-color: #969696;

  --font-primary-color: rgb(32, 32, 32);
  --font-secondary-color: rgb(82, 82, 82);

  --primary-color: #0085ff;
  --secondary-color: #0059ff;
  --third-color: #003cff;
}
